---
import ButtonOutline from "./ButtonOutline.astro";
import {Image} from "@astrojs/image/components";
import PostPreview from "./PostPreview.astro";
const {post} = Astro.props;
---

<article class="hover-animate blog__post-grid-preview">
    <a class="" href={`/blog/${post.slug}`}>
        <PostPreview imgSrc={post.data.thumb.src} imgAlt={post.data.title}/>
    </a>
</article>

<style>
    a {
        text-decoration: none;
        margin: 0;
    }
    .blog__post-grid-preview {
        width: 100%;
        height: 240px;
        position: relative;
    }
</style>