---
import BaseHead from "../components/BaseHead.astro";
import BottomNavigationMenu from "../components/BottomNavigationMenu.astro";
import Footer from "../components/Footer.astro";
import Datetime from "../components/DateTime.astro";
import ButtonOutline from "../components/ButtonOutline.astro";
import formatDatetime from "../utils/formatDateTime.js";

export interface Props {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    current?: string;
}

const {frontmatter: {title, description, pubDate, updatedDate, heroImage, current, thumb}} = Astro.props;
---

<html lang="en">
<head>
    <BaseHead title={title} description={description} image={thumb ? thumb.src : heroImage.src} />
</head>
<body>
<BottomNavigationMenu current=''/>
<main>
    <div class="container">
        <div class="breadcrumbs-section">
            <a class="" onclick="history.back()">
                <svg xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                    ></path>
                </svg>
                <span>Go back</span>
            </a>
        </div>
        <article class="post-content__article">
            <div class="post-content__top fade-in">
                <picture>
                    <source srcset={`${heroImage.src}`} type="image/webp"/>
                    <img
                            width="1200"
                            height="630"
                            class="post-content__img"
                            loading="eager"
                            src={`${heroImage.src}`}
                            alt={title}
                    />
                </picture>
                <Datetime
                        datetime={pubDate}
                        size="lg"
                        className="my-2"
                />
                <h1 class="post-content__title">{title}</h1>

                {
                    updatedDate && (
                                <div class="post-content__date">
                                    Last updated on{" "}
                                    <time>
                                        {formatDatetime(updatedDate)}
                                    </time>
                                </div>
                    )
                }

            </div>

            <div class="post-content__content">
                <slot/>
            </div>
        </article>
        <ButtonOutline title="Return to the Blog" link={"/blog"}/>
    </div>
</main>
<Footer/>
</body>
</html>
<style is:global>
    .post-content__content h2 {
        font-size: 2.157rem;
    }
</style>
<style>
    h1 {
        margin-top: 0;
        font-size: clamp(2.67rem, 2.07rem + 3vw, 3.21rem);
    }

    svg {
        fill: var(--fill-color-svg);
    }

    .my-2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .post-content__content :global(p) {
        font-size: 18px;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .breadcrumbs-section {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-top: 5vh;
    }

    .breadcrumbs-section a {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        color: var(--color-text);
        cursor: pointer;
        margin: 0;
    }

    .breadcrumbs-section svg {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-text);
    }

    .post-content__article {
        padding: 2vh 0;
    }

    .post-content__content :global(img) {
        height: auto;
        width: 100%;
    }

    .post-content__title {
        color: var(--section-title-title);
    }

    .post-content__date {
        color: var(--color-text);
        margin: 0 auto;
        font-size: 18px;
        font-style: italic;
    }

    .post-content__content :global(pre) {
        color: var(--color-text);
        background-color: #3e3e3e;
    }

    .post-content__content {
        color: var(--color-text);
    }

    @media (max-width: 768px) {
        .post-content__top .title {
            font-size: 2.369rem;
        }

    }
    code,
    blockquote {
        word-wrap: break-word;
    }

    pre > code {
        white-space: pre;
    }
</style>