---
import BaseHead from '../components/BaseHead.astro';
import BottomNavigationMenu from "../components/BottomNavigationMenu.astro";
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
const {currentPage} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <BottomNavigationMenu current={currentPage} title={SITE_TITLE} />
        <!-- <Header current={currentPage} title={SITE_TITLE} /> -->
        <main>
            <div class="container">
                <slot/>
            </div>
        </main>
    </body>
    <Footer />
</html>

<script>
    // Get the theme toggle input
    const themeToggle = document.querySelector('#light-dark-switcher') as HTMLInputElement | null;
    // Get the current theme from local storage
    const currentTheme = localStorage.getItem("theme");

    // If the current local storage item can be found
    if (currentTheme) {
        // Set the body data-theme attribute to match the local storage item
        document.documentElement.setAttribute("data-theme", currentTheme);

        // If the current theme is dark, check the theme toggle
        if (currentTheme === "dark") {
            themeToggle.checked = true;
        }
    }
</script>