---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const {currentPage} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header current={currentPage} title={SITE_TITLE} />
        <main>
            <div class="container">
                <slot/>
            </div>
        </main>
    </body>
    <Footer />
</html>
